<div class="col-sm-12 col-md-8">
  <% p @place %>
  views/trips/_place.html.erb: This view will show the individual place details on the trip info page.
  <div class="thumbnail">
    <% if @place %>
    <img src="<%= @place %>">
    <% end %>
    <div class="caption">
      <h3><%= @place %></h3>
      <p>address</p>
      <% if @place %>
      <p>Open now</p>
      <% else %>
      <p>Closed</p>
      <% end %>
      <p>Price: </p>
      <p>Website: <a href="<%= @place %>"><%= @place %></a></p>
    </div>
  </div>
</div>