<header>
  <center>
    <span class="printclearly"> Explore</span> <span class="oleoscript">San Francisco</span>
  </center>
</header>
<div class="container">
  <div class="row">
    <div class="form- form-inline">
      <form id="sfmax">
        <div class="selection ">
          <select id= "category" name="category" form="sfmax" class="form-control">
            <option value="arts">Arts</option>
            <option value="landmarks">Landmarks</option>
            <option value="culture">Culture</option>
          </select>
          <button class="submit btn btn-primary" type="button">Next</button>
        </div>
        <div class="selection hidden">
          <select id= "intensity" name="intensity" form="sfmax" class="form-control">
            <option value="low">Gentle</option>
            <option value="medium">Moderate</option>
            <option value="high">Intense</option>
          </select>
          <button class="submit btn btn-primary" type="button">Next</button>
        </div>
        <div class="selection hidden">
          <select id= "cost" name="cost" form="sfmax" class="form-control">
            <option value="low">Cheap</option>
            <option value="medium">Average</option>
            <option value="high">Splurge</option>
          </select>
          <button class="submit btn btn-primary" type="submit">Plan my Trip!</button>
        </div>
      </form>
    </div>
  </div>
</div>
