<div class="container" style="color: white">
  <h2>Trip info page</h2>
  <p>Trip on: <%= @trip.date.strftime("%B %d, %Y") %></p>
  <% @places.each do |place| %>
    <% place_info = get_place_info(place.place_id) %>
    <%= render partial: 'trips/place', locals: {place_info: @place} %>
  <% end %>
</div>